{
  "parser": "babel-eslint",
  "extends": [
    "standard",
    "standard-react",
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:flowtype/recommended"
  ],
  "plugins": [
    "babel",
    "react",
    "promise",
    "flowtype"
  ],
  "env": {
    "browser": true
  },
  "globals": {
    "PRODUCTION": false
  },
  "rules": {
    "react/display-name": "off",
    "react/jsx-curly-spacing": [2, "always", { "allowMultiline": false }],
    "key-spacing": 0,
    "jsx-quotes": [2, "prefer-single"],
    "max-len": [2, 120, 2],
    "object-curly-spacing": [2, "always"]
  }
}